<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Admin Home Page</h1>
    <p><a href="/addteacher">ADD TEACHER</a></p>
    <p><a href="/adminviewstudent">VIEW STUDENT</a></p>
    <p><a href="/adminviewteacher">VIEW TEACHER</a></p>
    <p><a href="/logout">LOGOUT</a></p>
</body>
</html>