<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,td,th{
            border-collapse: collapse;
            border: 2px solid blue;
            
        }
        table{
            width: 100%;
        }
        td,th{
            text-align: center;
        }
        nav {
            width: 100%;
        }
        nav div{
            display: flex;
            float: right;
            margin-left: 20px;
            margin-bottom: 30px;
        }
        nav p{
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <div>
            <p><a href="/addteacher">ADD TEACHER</a></p>
            <p><a href="/adminviewstudent">VIEW STUDENT</a></p>
            <p><a href="/adminviewteacher">VIEW TEACHER</a></p>
            <p><a href="/logout">LOGOUT</a></p>
        </div>
        
    </nav>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Experience</th>
            <th>Salary</th>
            
            <th>Delete</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td>
            
            <td><a href="deleteteacher/{{i[7]}}">DELETE</a></td>
        </tr>
        {% endfor %}
        
    </table>
</body>
</html>