<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">

    <style>
        *{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class="my-5">Teacher Home Page</h1>
    <p><a href="/teachereditprofile" class="text-decoration-none fs-5">EDIT PROFILE</a></p>
    <p><a href="/teacherviewstudent" class="text-decoration-none fs-5">VIEW STUDENTS</a></p>
    <p><a href="/logout" class="text-decoration-none fs-5">LOGOUT</a></p>
</body>
</html>